<h1>Bar Graph goes here!</h1>


<%= content_tag(:div, :'data-chart' => charts_chart_data_path, :id => 'chart_div') do %>
	<%= image_tag('spinner.gif', :size => '24x24', :class => 'spinner') %>
<% end %>

