<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to image_tag("educationsuperhighway.png", id: "logo", class: "img-responsive"), 
							'http://www.educationsuperhighway.org/' %>
    </div>
    <p class="navbar-text"><strong>Coding Challenge by Laura Trigeiro</strong></p>
    <p class="navbar-text pull-right"> <%= link_to "This Project on Github", "https://github.com/lauratrigeiro/esh-app", :class => 'navbar-link' %></p>
  </div>
</div>